body{
  background-color: white;
}

table {
  table-layout: fixed ;
}


.calender{
  border: solid;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Code to "highlight" the selected cell */
.selected {
  background-color: #ddd !important;
}
