body{
  background-color: white;
}

table {
  table-layout: fixed ;
}

th {
  border-right: solid;
}

td{
  border-right: solid;
}

/* buttosn for viewing  */
.view-button{
  border-left: 2px;
  border-right: 2px;
  border-color: white;
}

/* controls the calender div */
.calender{
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  position: absolute;
}

/* Code to "highlight" the selected cell.*/
.selected {
  background-color: #ddd !important;
}

.hidden-calender{
  visibility: hidden;
}

#next-button{
  margin-right: 5px;
}
