body {
  background-color: white;
  font-family: Arial,
}

header {
  background-color:rgba(255,193,14,255)
}

/*This is for displaying Blue-Text */
span {
  font-size: 20px;
  overflow: hidden;
  color : #00508f;
}

/*This is for Displaying Black-Text */
p {
  font-size: 20px;
}

/* This is for displaying white text */
h1 {
  font-size: 20px;
  color: white;
  overflow: hidden;
  display: inline;
}

.Container{
  padding: 12px;
  position: relative;
}

.Banner {
  width: auto;
  height: auto;
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 5px;
  }

/*Login Form*/
#Login_Form {border:2px solid black;
  margin-left: 15%;
  margin-right: 15%;
}

input[type=text], input[type=password] {
      width: 100%;
      display: inline-block;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
#Login_button {
  background-color:rgba(255,193,14,255);
  color : #00508f;
  margin: 10px;
}

#Login_button:hover {
  opacity: 0.7;
}

input[type=checkbox]{
  display: inline;
  padding: 10px;
  
}

#Forgot_password{
  display: inline;
  padding: 10px;

}


/*Login Form section ended*/